In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({"姓名":["张飞","关羽","刘备","典韦","许诸"],\
                   "语文":[68,95,98,90,80],\
                   "数学":[65,76,86,88,90],\
                   "英语":[30,98,88,77,90]})
df['Total'] = df['语文']+df['数学']+df['英语']

In [3]:
df[["Total","语文"]]

   Total  语文
0    163  68
1    269  95
2    272  98
3    255  90
4    260  80

In [4]:
df

   姓名  数学  英语  语文  Total
0  张飞  65  30  68    163
1  关羽  76  98  95    269
2  刘备  86  88  98    272
3  典韦  88  77  90    255
4  许诸  90  90  80    260

In [ ]:
df['Total4'] = df.apply(lambda x: x['语文']+x['数学']+x['英语'], axis=1)
df

   姓名  数学  英语  语文  Total  Total4
0  张飞  65  30  68    163     163
1  关羽  76  98  95    269     269
2  刘备  86  88  98    272     272
3  典韦  88  77  90    255     255
4  许诸  90  90  80    260     260